.secaoForm{
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.formInscricao{
    background-color: #0810A6;
    height: 500px;
    width: 35%;
    border-radius: 15px;
    text-align: center;
}

.tituloForm{
    color: #ffff;
    margin: 0;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.paragrafoForm{
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

.inputsForm{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    font-family: "Lexend Deca", sans-serif;
}


.botaoForm{
    width: 120px;
    height: 35px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Lexend Deca", sans-serif;
    transition: 0.7s;   
}

.botaoForm:hover{
    background-color: #000677;
    color: white;
}

