@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.detalhe1{
    height: 0px;
    position: relative;
    bottom: 150px;
    z-index: -1;
    
}

.fotoDetalhe1{
    width: 300px;
    height: 300px;
    
}

.secaoDesign{
    display: flex;
    justify-content: space-between;
}

.titulos{width: 50%;}

.conteudo{
    margin-left: 260px;
    width: 40%;
}

.titulo_design{
    font-family: "Luckiest Guy", cursive;
    font-size: 80px;
    text-align: center;
}

.subtitulo{
    font-family: "Luckiest Guy", cursive;
    font-size: 70px;
    margin-left: 60px;
    margin-top: -40px;
}

.linha_design{
    background-color: #C6C7C9;
    height: 5px;
    width: 100%;
    margin-left: 50px ;
    margin-top: -50px;
    border: none;
}


.conteudo_sobre_design{
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 500;
   text-align: center;
   margin-left: 5%;
}

.imagem_referencia{
    width: 40%;

}

.designer{
    width: 540px;
    height: 560px;
}



#figminha{
    width: 100%;
}


.conteudo_sobre_figma{
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: center;
    width: 50%;
    margin-left: 28%;
    margin-top: -26px;

}

.botao{
    display: flex;
    justify-content: center;
}

.botao_para_figma{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: #0810A6;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    border: solid #0810A6 1px;
}

.imagem_referencia2{
    width: 5%;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
 
}

.figmer{
    width: 300px;
    height: 300px;
    color: white;
    border: none;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.detalhe2{
    height: 0px;
    width: 0px;
    position: relative;
    margin-left: 30px;
    z-index: -1;
    
}

.foto_detalhe2{
    width: 400px;
    height: 500px;
    
}


.titulos2{
    display: flex;
    justify-content: center;
    width: 100%;

}

.painel_video{
    display: flex;
    justify-content: center;


}

.video{
    background-color: #000677;
    width: 80%;
    height: 650px;
    padding-top: 2%;

}
.detalhe3{
    height: 0px;
    width: 0px;
    position: relative;
    bottom: 600px;
    z-index: -1;
    
}

.foto_detalhe3{
    width: 300px;
    height: 500px;
    
}

